---
import { Button, FormInput, FormSelect, FormTextarea } from '@odyssey-theme/components';

const selectOptions = [
  "Google Search",
  "Social Media",
  "Email",
]

---

<div class="hero-section__image">
  <picture>
    <img
      src="/assets/images/home/aboutp1.jpg"
      alt="Mount Rundle"
      id="home-hero-image"
    />
  </picture>

  <h3> <centre>Beautiful Mount Rundle</centre> </h3>
</div>
<!-- <form name="Contact Form" method="POST" action="/contact-thank-you" data-netlify="true">
  <FormInput type="text" label="Name" name="Name" placeholder="John Doe" />
  <FormInput type="email" label="Email" name="Email" placeholder="hello@example.com" />
  <FormSelect label="How Did You Hear About Us?" options={selectOptions} />
  <FormTextarea label="Message" name="Message" placeholder="Your message here..." />
  <Button>Submit</Button>
</form> -->

<style>
  h3 {text-align: center;}
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>